@mixin breakpoint($point) {
    @if $point==xs{
        @media screen and (max-width:575px) {
            @content;
        }
    }
    @else if $point==sm{
        @media screen and (min-width:576px) and (max-width:767px) { 
            @content;
        }
    }
    @else if $point==md{
        @media screen and (min-width:768px) and (max-width:990px) { 
            @content;
        }
    }
    @else if $point==lg{
        @media screen and (min-width:991px) and (max-width:1199px) {
            @content;
        }
    }
    @else if $point==xl{
        @media screen and (min-width:1200px) and (max-width:1325px) {
            @content;
        }
    }
}
@mixin common{
    header{
        position: relative;
        background: $light;
        .top-header{
            height: auto;
            width: 100%;
            top: 0;
            left: 0;
            background: $dark;
            position: absolute;
            z-index: 1;
            ul{
                li{
                    a{
                        font-size: 18px;
                        color: $light;
                    }
                }
            }
        }
    }
    footer{
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        background: $dark;
        border-radius: 0;
        .mbtn{
            height: 45px;
            width: 150px;
            color: $light;
            background: $mixer;
            border: none;
            outline: 0;
            transition: 1s;
            &:hover{
                color: $dark;
                background: $light;
            }
        }
    }
}